html, body {
  margin: 0;
  padding: 0;
}

.App {
  min-height: 300px;
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FFF;
}

h2 {
  font-size: 40px;
}

.app-button + .app-button {
  margin-top: 20px;
}

.styler {
  position: absolute;
  top: 12px;
  right: 8px;
}