.colorPicker {
    background: none;
    border: none;
    height: 38px;
    width: 38px;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
    margin-right: 8px;
    box-sizing: border-box;
}

.colorPicker::-webkit-color-swatch {
    border: 2px solid #ffffff;
    width: inherit;
    height: inherit;
    border-radius: 50%;
}
